# IDE folders and files
.idea
.vs
.vscode
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.dir


# Build folders and files
build
CMakeFiles
cmake_install.cmake
CMakeCache.txt
out
cmake-build-debug
Debug
x64
Release
RelWithDebInfo

#Gui Files
imgui.ini